.content
  .top-area
    英語の単語もしくは文章をタイピングしていくゲームです。
    %br
    やりたい問題の部分をクリックしてください。
    %br
    %br
    日本語のタイピングは実装が難しいので実装していません。
    %br
    日本語訳はgoogle翻訳を使ってます。
  .template-area
    .box
      .category
        %h2
          英語-単語
      .quote-source
        %h3
          = link_to "http://www.newgeneralservicelist.org" do
            = image_tag("http://www.newgeneralservicelist.org/favicon.ico", width:"32px")
            THE TOEIC SERVICE LIST 1.1
      .list-area
        -# %ol
        -#   %li
        %table
          %tr
            %td
              = link_to 'abide - certification 200語', "/questions/1", method: :get
            %td
              = link_to @aggregates.to_a[0].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[0].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[0].id.to_s}", method: :get
          %tr
            %td
              = link_to 'certify	- drill 200語', "/questions/2", method: :get
            %td
              = link_to @aggregates.to_a[1].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[1].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[1].id.to_s}", method: :get
          %tr
            %td
              = link_to 'drought	- indoor 200語', "/questions/3", method: :get
            %td
              = link_to @aggregates.to_a[2].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[2].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[2].id.to_s}", method: :get
          %tr
            %td
              = link_to 'induction - painter 200語', "/questions/4", method: :get
            %td
              = link_to @aggregates.to_a[3].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[3].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[3].id.to_s}", method: :get
          %tr
            %td
              = link_to 'pamphlet - satellite 200語', "/questions/5", method: :get
            %td
              = link_to @aggregates.to_a[4].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[4].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[4].id.to_s}", method: :get
          %tr
            %td
              = link_to 'satisfactory - zoo 259語', "/questions/6", method: :get
            %td
              = link_to @aggregates.to_a[5].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[5].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[5].id.to_s}", method: :get
    .box
      .category
        %h2
          英語-文章
      .quote-source
        %h3
          = link_to "https://tatoeba.org" do
            = image_tag("https://tatoeba.org/favicon.ico", width:"32px")
            Tatoeba 文章と翻訳のコレクション
      .list-area
        %table
          %tr
            %td
              = link_to '英語例文 200件 1', "/questions/7", method: :get
            %td
              = link_to @aggregates.to_a[6].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[6].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[6].id.to_s}", method: :get
          %tr
            %td
              = link_to '英語例文 200件 2', "/questions/8", method: :get
            %td
              = link_to @aggregates.to_a[7].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[7].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[7].id.to_s}", method: :get
          %tr
            %td
              = link_to '英語例文 200件 3', "/questions/9", method: :get
            %td
              = link_to @aggregates.to_a[8].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[8].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[8].id.to_s}", method: :get
          %tr
            %td
              = link_to '英語例文 200件 4', "/questions/10", method: :get
            %td
              = link_to @aggregates.to_a[9].count_distinct_results_user_id.to_s + 'ユーザーが、' + @aggregates.to_a[9].results_count.to_s + '回実行', "/rankings/#{@aggregates.to_a[9].id.to_s}", method: :get
