.content
  .top-area
    英語の単語もしくは文章をタイピングしていくゲームです。
    %br
    やりたい問題の部分をクリックしてください。
    %br
    %br
    日本語のタイピングは実装が難しいので実装していません。
    %br
    日本語訳はgoogle翻訳を使ってます。
  .template-area
    .box
      .category
        %h2
          英語-単語
      .quote-source
        %h3
          = link_to "http://www.newgeneralservicelist.org" do
            = image_tag("http://www.newgeneralservicelist.org/favicon.ico", width:"32px")
            THE TOEIC SERVICE LIST 1.1
      .list-area
        %ol
          %li
            = link_to 'abide - certification 200語', "/questions/1", method: :get
          %li
            = link_to 'certify	- drill 200語', "/questions/2", method: :get
          %li
            = link_to 'drought	- indoor 200語', "/questions/3", method: :get
          %li
            = link_to 'induction - painter 200語', "/questions/4", method: :get
          %li
            = link_to 'pamphlet - satellite 200語', "/questions/5", method: :get
          %li
            = link_to 'satisfactory - zoo 259語', "/questions/6", method: :get
    .box
      .category
        %h2
          英語-文章
      .quote-source
        %h3
          = link_to "https://tatoeba.org" do
            = image_tag("https://tatoeba.org/favicon.ico", width:"32px")
            Tatoeba 文章と翻訳のコレクション
      .list-area
        %ol
          %li
            = link_to '英語例文 200件 1', "/questions/7", method: :get
          %li
            = link_to '英語例文 200件 2', "/questions/8", method: :get
          %li
            = link_to '英語例文 200件 3', "/questions/9", method: :get
          %li
            = link_to '英語例文 200件 4', "/questions/10", method: :get