.content
  .top-area
    英語の単語もしくはフレーズをタイピングしていくゲームです。
    %br
    やりたい問題の部分をクリックしてください。
    %br
    %br
    日本語のタイピングは実装が難しいので実装していません。
    %br
    -# 例文は、free licenseのものをググって引っ張ってきてます。
    -# %br
    日本語訳はgoogle翻訳を使ってます。
  .template-area
    .box
      .category
        %h2
          単語
      .quote-source
        %h3
          = link_to "http://www.newgeneralservicelist.org" do
            = image_tag("http://www.newgeneralservicelist.org/favicon.ico", width:"32px")
            THE TOEIC SERVICE LIST 1.1
      .list-area
        %ol
          %li
            = link_to "#" do
              abide - certification 200語
          %li
            = link_to "#" do
              certify	- drill 200語
          %li
            = link_to "#" do
              drought	- indoor 200語
          %li
            = link_to "#" do
              induction - painter 200語
          %li
            = link_to "#" do
              pamphlet - satellite 200語
          %li
            = link_to "#" do
              satisfactory - zoo 259語
    .box
      .category
        %h2
          文章
      .quote-source
        %h3
          = link_to "https://tatoeba.org" do
            = image_tag("https://tatoeba.org/favicon.ico", width:"32px")
            Tatoeba 文章と翻訳のコレクション
      .list-area
        %ol
          %li
            = link_to "#" do
              適当に抽出 200文 1
          %li
            = link_to "#" do
              適当に抽出 200文 2
          %li
            = link_to "#" do
              適当に抽出 200文 3
          %li
            = link_to "#" do
              適当に抽出 200文 4